name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy to Production
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AIBROKER_PROD_IP }}
          username: ${{ secrets.AIBROKER_PROD_USERNAME }}
          key: ${{ secrets.AIBROKER_PROD_SSH_KEY }}
          script: |
            cd /var/www/java/aibroker-service
            git checkout .
            git pull origin main
            ./mvnw clean package -DskipTests
            ./start.sh
